<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https:/www;tymeleaf.org" th:replace="~{fragments/layout :: main-layout(~{::title}, ~{::main})}" > 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <main>
        <h1>home Page</h1>
        <hr>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum obcaecati voluptas, dolorem quam architecto tenetur similique hic repellat totam iusto reiciendis aliquam. Numquam laboriosam provident aut adipisci inventore nihil atque?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ea ipsa libero, tempora ullam temporibus? Expedita hic aliquid impedit modi non corporis, deserunt cupiditate nesciunt vitae accusamus unde aperiam aut.
        </p>

    </main>
    
</body>
</html>